

@import "skeleton.css";

#foreground {
	padding-left: 100px;
}


.arts {
	display: grid;
	grid-template-columns: repeat(4, minmax(128px, 208px));
	grid-auto-rows: repeat(3, minmax(128px, 208px));
	grid-gap: 10px;
}

.articlepreview {
	margin: 0;
	min-height: 100px;
	padding: 16px;
	border: 1px dashed var(--neut, #cccccc);
}

.noborder {
	border: none;
}

.articlepreview > img {
	float: left;
	height: 100px;
	width: 100px;
	padding-right: 16px;
}

.artpreview:first-child {
	grid-column: 2;
	grid-row: 1 / 3;
	object-fit: cover;
	max-height: 100%;
	height: 100%;
	overflow: hidden;
}
.artpreview:first-child img {
	object-fit: fill;
	margin-left: -50%;
	height: 100%;
	width: 200%;
}

.artpreview:nth-child(2) {
	height: 100%;
	max-height: 100%;
	grid-column: 3 / 5;
	grid-row: 1;
	max-width: 100%;
	width: 100%;
	overflow: hidden;
}
.artpreview:nth-child(2) img {
	margin-top: -50%;
	object-fit: cover;
	transform: translate(0, 25%);
}

.inline {
	height: 1em;
	width: auto;
}

.articlepreview a:link{
	color: var(--text, #000000);
	text-decoration: none;
	font-size: 20px;
}
.articlepreview a:visited{
	color: var(--text, #050505);
	text-decoration: none;
	font-size: 20px;
}

.articlepreview a:hover{
	color: var(--emph, #12e7b9);
	text-decoration: none;
	font-size: 20px;
}