{% extends "base.html" %}

{% block favicon_and_stylesheet %}
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="/style.css">
{% endblock %}

{% block header %}
{% endblock %}

{% block nav_links %}
{% endblock %}

{% block content %}
<div class="notfound-container">
  <img src="/404.png" alt="404 Not Found" class="notfound-image">
  <a href="./" class="notfound-button">Go Home</a>
</div>
{% endblock %}
