{% extends "base.html" %}

{% block favicon_and_stylesheet %}
<link rel="icon" href="./favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="../homepage.css">
{% endblock %}

{% block nav_links %}
<a href="../">Home</a>
<a href="./">About</a>
<a href="../qa/">Q&A</a>
{% endblock %}

{% block content_classes %}class="about-page-content"{% endblock %}

{% block content %}
<h2 style="grid-column: 1/-1;">About Me</h2>
<img class="selfie" src="./me_bw.png" alt="some white guy at a computer, very typical stuff">
<div class="stickypagediv">{{ html }}</div>
{% endblock %}
