{% extends "base.html" %}

{% block favicon_and_stylesheet %}
<link rel="icon" href="./favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="./style.css">
{% endblock %}

{% block nav_links %}
<a href="./">Home</a>
<a href="./about/">About</a>
<a href="./qa/">Q&A</a>
{% endblock %}

{% block content %}
<h2>Posts</h2>
<section id="posts">
  {% for post in posts[:7] %}
  <div class="item-box">
    <a class="item-link" href="./posts/{{ post.meta.parent_folder }}">
      <article class="post-item dynamic-desaturate">
        <img src="./posts/{{ post.meta.parent_folder }}/{{ post.meta.iconpath }}"
          alt="{{ post.meta.title }} preview image">
        <h3>{{ post.meta.title }}</h3>
        <time>{{ post.meta.date }}</time>
      </article>
    </a>
  </div>
  {% endfor %}
  <div class="item-box">
    <a class="item-link" href="./concatpages/allposts/">
      <article class="centered-text">
        <h3>&gt; see more&nbsp;&nbsp;</h3>
      </article>
    </a>
  </div>
</section>

<h2>Art</h2>
<section id="art">
  {% for art in artwork[:11] %}
  <div class="item-box">
    <a class="item-link" href="./art/{{ art.meta.slug }}/">
      <article class="art-item dynamic-desaturate">
        <h3>{{ art.meta.title }}</h3>
        <time>{{ art.meta.date }}</time>
        <img src="./art/thumbnails/thumb_{{ art.meta.artpath }}" alt="{{ art.meta.title }} preview image">
      </article>
    </a>
  </div>
  {% endfor %}
  <div class="item-box">
    <a class="item-link" href="./concatpages/allartwork/">
      <article class="art-item centered-text"
        style="justify-content: center; align-items: center; height: 100%; padding: 0px;">
        <h3 style="text-align: center; padding: 0px;">&gt; see more&nbsp;&nbsp;</h3>
      </article>
    </a>
  </div>
</section>

<h2>Sounds</h2>
<section id="sounds">
  {% for sound in sounds[:7] %}
  <div class="item-box">
    <a class="item-link" href="./audio/{{ sound.meta.slug }}/">
      <article class="sound-item">
        <h3>{{ sound.meta.title }}</h3>
        <time>{{ sound.meta.date }}</time>
        <audio controls>
          <source src="./audio/files/{{ sound.meta.audiopath }}" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>
      </article>
    </a>
  </div>
  {% endfor %}
  <div class="item-box">
    <a class="item-link" href="./concatpages/allaudio/">
      <article class="sound-item" style="justify-content: center; align-items: center; height: 100%; padding: 0px;">
        <h3 style="text-align: center; padding: 0px;">&gt; see more&nbsp;&nbsp;</h3>
      </article>
    </a>
  </div>
</section>
{% endblock %}