<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="format-detection" content="telephone=no">
  <meta name="HandheldFriendly" content="true"/>
  <meta name="MobileOptimized" content="320"/>
  <meta name="viewport" content="initial-scale=1.0, width=device-width"/>
  <title>Adam Lastowka - {{ title }}</title>
  <meta name="description" content="{{ description }}" />
  <link rel="stylesheet" href="./../../post.css">
  <script defer src="./../../scripts/darkmode.js"></script>
  <link rel="icon" href="./../../favicon.ico" type="image/x-icon"/>
  <link rel="shortcut icon" href="./../../favicon.ico" type="image/x-icon"/>

  <meta name="robots" content="all,follow">
  <meta property="og:title" content="Adam Lastowka - {{ title }}">
  <meta property="og:type" content="website">
  <meta property="og:description" content="{{ description }}"
</head>
<body>

  <header>
    <h1><a href="./">Adam Lastowka</a></h1>
  </header>

  <section id="navmenu">
      <a href="./posts/">Home</a>
      <a href="./about/">About</a>
      <a href="./qa/">Q&A</a>
  </section>

  <div id="feed">
    <h2>Posts</h2>

    <section id="content">
      <h1>{{ title|title }}</h1>
      {% for post in posts %}
      <article>
        <h2>{{ post.meta.title }}</h2>
        <time>{{ post.meta.date }}</time>
        <p>{{ post.meta.tags }}</p>
      </article>
    {% endfor %}
      <br>
      {{ html|safe }}
    </section>
  </div>

  <footer>
    <p>© Adam Lastowka 2024</p>
</body>
</html>
