{% extends "base.html" %}

{% block favicon_and_stylesheet %}
<link rel="icon" href="./favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="../../homepage.css">
{% endblock %}

{% block nav_links %}
<a href="../../">Home</a>
<a href="../../about/">About</a>
<a href="../../qa/">Q&A</a>
{% endblock %}

{% block extra_head %}
<script>hljs.highlightAll();</script>
<script>
  window.MathJax = {
    tex: {
      inlineMath: [['$', '$'], ["\\(", "\\)"]],
      displayMath: [['$$', '$$'], ["\\[", "\\]"]],
      processEscapes: true,
    },
    startup: {
      pageReady: () => {
        return MathJax.typesetPromise();
      }
    }
  };
</script>
<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>

{% if plotly %}
<script async defer src="https://cdn.plot.ly/plotly-latest.min.js"></script>{% endif %}
{% endblock %}

{% block content %}
<h2>{{ title }}</h2>
<time>{{ date }}</time>
<div class="post-body">
  {{ html }}
</div>
{% endblock %}

{% block extra_scripts %}
<script>
  if (window.MathJax) {
    MathJax.typesetPromise().catch(err => console.log(err));
  }
</script>
{% endblock %}
