{% extends "base.html" %}

{% block favicon_and_stylesheet %}
<link rel="icon" href="../../favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="../../style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/lightfair.css">
<script src="../../highlight.min.js"></script>
{% endblock %}

{% block nav_links %}
<a href="../../">Home</a>
<a href="../../about/">About</a>
<a href="../../qa/">Q&A</a>
{% endblock %}

{% block extra_head %}
<script>
  window.MathJax = {
    tex: {
      inlineMath: [['$', '$'], ["\\(", "\\)"]],
      displayMath: [['$$', '$$'], ["\\[", "\\]"]],
      processEscapes: true,
    },
    chtml: {
      scale: 1,
      displayAlign: 'center'
    }
  };
</script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js"></script>

{% if plotly %}
<script async defer src="https://cdn.plot.ly/plotly-latest.min.js"></script>{% endif %}
{% endblock %}

{% block content %}
<h1>{{ title }}</h1>
<time>{{ date }}</time>
<div class="post-body">
  {{ html }}
</div>
{% endblock %}

{% block extra_scripts %}
<script>
  if (window.hljs) {
    hljs.highlightAll();
  }
</script>
{% endblock %}
