@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* source sans pro */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
/* inter display */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/* staatliches */
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
/* Roboto Slab */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
/* Didact Gothic */
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
/* Harmattan */
@import url('https://fonts.googleapis.com/css2?family=Harmattan&display=swap');
/* Titillium Web */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
/* Libre Baskerville */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
/* Source Serif Pro */
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600&display=swap');
/* VT323 */
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
/* Manrope */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio&family=Merriweather&family=Merriweather+Sans:wght@400;700&family=Noto+Sans:wght@400;500;700&family=Open+Sans:wght@400;700&family=Oswald&display=swap');
