@import "fonts.css";
@import "animations.css";

:root {
  --emph: #189766;
  --background: #fcfcfc;
  --background-image-color: #fdfdfd;
  --neut: #c2c2c2;
  --text: #050505;
  --dark-disp: hidden;
  --light-disp: visible;
  --f2: 'Charter';
  --fbody: 'Charter';
  --f2s: 38px;
}

::selection {
  background-color: var(--emph, #12e7b9);
}

* {
  padding: 0;
  margin: 0;
  font-size: 14px;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  text-rendering: optimizelegibility;
  background-color: var(--background-image-color, #ffffff);
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  max-width: 100vw;
  scrollbar-gutter: stable;

  font-family: "Jetbrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header {
  font-size: 2rem;
}
h1 * {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-weight: 400;
}
#nav * {
  font-size: 1.5rem;
}

body {
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr minmax(0, 800px) 1fr;
  max-width: 100vw;
}

main {
  grid-column: 2;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr 80% 1fr;
  gap: 30px;
}

#content > * {
  padding-bottom: 30px;
}
#content > h2 {
  padding-bottom: 10px;
}

header {
  grid-column: 2/-1;
  grid-row: 1;
  border-bottom: 1px dashed var(--emph);
  padding-bottom: 30px;
}

#content {
  grid-column: 2;
  grid-row: 2;
}

footer {
  grid-column: 2;
  grid-row: 3;
  color: var(--neut);
}

#menu {
  grid-column: 1;
  grid-row: 1;
  position: sticky;
  align-self: start;
  justify-self: end; /* Align to right edge of column */
}

#nav {
  /* 3 elements, space them out vertically with a grid */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  grid-column: 1;
  grid-row: 2;
  align-self: start;
  position: sticky;
  top: 20px;
}

#nav * {
  text-align: right;
  justify-self: end;
  align-self: start;
}

a {
  color: var(--emph);
  text-decoration: none;
}

img {
  max-width: 200px;
}

#posts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

#art {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.post-item p,
.post-item time,
.art-item time,
.sound-item time {
  color: var(--neut);
}

.post-item {
  display: grid;
  grid-template-columns: auto 1fr;
}
.post-item * {
  grid-column: 2;
  padding-left: 10px;
}
.post-item img {
  max-width: 64px;
  grid-column: 1;
  grid-row: span 3;
  padding: 0px;
}

#sounds {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.item-box {
  outline: 1px dashed var(--neut);
  padding: 10px;
  border-radius: 0px;
}

.post-item {
  padding: 8px;
}

.stickypagediv > * {
  padding-bottom: 20px;
}
.stickypagediv >{
  padding-bottom: 20px;
}
.selfie {
  max-width: 256px;
  grid-column: 2;
  grid-row: 2;
  object-fit: cover;
  padding-left: 20px;
}