:root {
  --emph: #009e42;
  --background: #ffffff;
  --neut: #c2c2c2;
  --text: #050505;
  --dark-disp: hidden;
  --light-disp: visible;
  --f2: 'Charter';
  --fbody: 'Charter';
  --f2s: 38px;
}

::selection {
  background-color: var(--emph, #12e7b9);
}

* {
  padding: 0;
  margin: 0;
  font-size: 14px;
}

html {
  box-sizing: border-box;
  text-rendering: optimizelegibility;
  background-size: 400% 400%;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  max-width: 100vw;
  scrollbar-gutter: stable;
  background-image: radial-gradient(var(--neut) 1px, transparent 0);
  background-size: 40px 40px;
  background-position: -22px -22px;

  font-family: "Jetbrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  perspective: 1200px;
}

header {
  font-size: 2rem;
}

h1 * {
  font-size: 1.5rem;
  letter-spacing: 2px;
}

h2 {
  font-size: 1.5rem;
  position: relative;
  padding-bottom: 15px;
}

h3 {
  font-weight: 400;
}

#nav * {
  font-size: 1.5rem;
  position: relative;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  margin-top: -10px;
}

#nav a:hover {
  background: rgba(0, 158, 66, 0.1);
  transition: all 0.3s ease;
}

@keyframes slideIn {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

body {
  padding-left: 30px;
  padding-right: 30px;
  display: grid;
  grid-template-columns: 1fr minmax(0, 800px) 1fr;
  max-width: 100vw;
}

main {
  grid-column: 2;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr 80% 1fr;
  gap: 30px;
  margin-top: 30px;
  perspective: 1200px;
  background-color: white;
  box-shadow: 0 0 40px 20px rgba(255, 255, 255, 0.6), 0 0 80px 40px rgba(255, 255, 255, 0.3);
}

#content > p {
  padding-bottom: 15px;
}

#content > p:not(:has(+ ul)) {
  padding-bottom: 30px;
}

#content>h2 {
  padding-bottom: 10px;
}

header {
  grid-column: 2;
  grid-row: 1;
  border-bottom: 1px dashed var(--emph);
  padding-bottom: 30px;
  position: relative;
  transform-style: preserve-3d;
}

#content {
  grid-column: 2;
  grid-row: 2;
  max-width: 100%;
}

footer {
  grid-column: 2;
  grid-row: 3;
  color: var(--neut);
  opacity: 0.7;
  transition: all 0.4s ease;
  transform-style: preserve-3d;
}

footer:hover {
  opacity: 1;
}

#menu {
  grid-column: 1;
  grid-row: 1;
  position: sticky;
  align-self: start;
  justify-self: end;
  /* Align to right edge of column */
}

#nav {
  /* 3 elements, space them out vertically with a grid */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  grid-column: 1;
  grid-row: 2;
  align-self: start;
  position: sticky;
  top: 20px;
  gap: 10px;
}

#nav * {
  text-align: right;
  justify-self: end;
  align-self: start;
}

a {
  color: var(--emph);
  text-decoration: none;
  position: relative;
  display: inline-block;
}

a::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--emph);
  margin-bottom: 5px;
  transition: width 0.3s cubic-bezier(.37,.95,.58,1.01);
}

a:hover {
  transition: all 0.3s ease;
}

a:hover::after {
  width: 100%;
}

ul {
  list-style-position: inside;
}
li:not(:last-child) {
  margin-bottom: 10px;
}

#posts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  min-width: 0;
  perspective: 1200px;
}

@media (max-width: 900px) {
  #posts {
    grid-template-columns: 1fr;
  }
}

#art {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  min-width: 0;
  perspective: 1200px;
}

.post-item p,
.post-item time,
.art-item time,
.sound-item time {
  color: var(--neut);
}

.post-item {
  display: grid;
  grid-template-columns: auto 1fr;
  transform-style: preserve-3d;
  position: relative;
  z-index: 1;
}

.post-item>* {
  grid-column: 2;
  padding-left: 10px;
}

.post-item a {
  color: var(--text);
}

.post-item a:hover {
  color: var(--emph);
}

.post-item img {
  max-width: 64px;
  grid-column: 1;
  grid-row: span 3;
  padding: 0px;
  filter: grayscale(100%) opacity(90%);
  border-radius: 5px;
  transition: all 0.4s cubic-bezier(.37,.95,.58,1.01);
  transform-style: preserve-3d;
}

.post-item:hover img {
  filter: grayscale(0%) opacity(100%);
  transition: filter 0.3s ease;
}

.art-item img {
  filter: grayscale(100%) contrast(4) opacity(90%);
  transition: all 0.3s ease;
  border-radius: 5px;
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
  transform-style: preserve-3d;
}

.art-item {
  display: flex;
  flex-direction: column;
}

.sound-item {
  display: flex;
  flex-direction: column;
}

.art-item img:hover {
  filter: grayscale(0%);
  transform: perspective(800px) translateZ(5px);
}

#sounds {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  perspective: 1200px;
}

.item-box {
  outline: 1px dashed var(--neut);
  padding: 10px;
  border-radius: 0px;
  transform-style: preserve-3d;
  position: relative;
  overflow: hidden;
}

.item-box::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  pointer-events: none;
  display: none;
}

.item-box:hover {
  outline-color: var(--emph);
}

.post-item {
  padding: 8px;
}

.stickypagediv>* {
  padding-bottom: 20px;
}

.stickypagediv> {
  padding-bottom: 20px;
}

.selfie {
  max-width: 256px;
  grid-column: 2;
  grid-row: 2;
  object-fit: cover;
  padding-left: 20px;
}

.about-page-content {
  display: grid;
  grid-template-columns: 1fr 200px;
  gap: 20px;
  grid-template-rows: auto 1fr;
}

@media (max-width: 800px) {

  main,
  body {
    grid-column: 1;
    grid-template-columns: 100%;
  }

  header,
  #content,
  footer {
    grid-column: 1;
    grid-row: auto;
  }

  #nav {
    grid-column: 1;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto;
    gap: 20px;
    position: static;
    grid-row: auto;
  }

  #nav * {
    text-align: center;
    justify-self: center;
    align-self: center;
    padding: 0;
  }

  #posts {
    grid-template-columns: 1fr;
  }

  #sounds {
    grid-template-columns: repeat(1, 1fr);
  }

  .about-page-content {
    display: grid;
    grid-template-columns: 1fr;
  }

  #content>.stickypagediv {
    padding-bottom: 0px;
  }

  .selfie {
    grid-column: 1;
    grid-row: -1;
    max-width: 90%;
  }
}

@media (max-width: 700px) {
  #art {
    grid-template-columns: repeat(2, 1fr);
  }
}

footer {
  padding-bottom: 20px;
}

section + h2 {
  margin-top: 30px;
}